{{> header}}
<html>
<body style="background-color:#FFFFFF;">

***** VISTA DEL PRODUCTO *******
 Modelo:{{movil.modelo}}<br>
 Marca: {{movil.marca}}<br>
 Pulgadas: {{movil.pulgadas}}<br>
 Bateria: {{movil.bateria}}<br>
 Almacenamiento: {{movil.almacenamiento}}<br>
 Ram: {{movil.ram}}<br>
 Resolucion: {{movil.resolucion}}<br>
 Camara: {{movil.camara}}<br>
 Precio: {{movil.precio}}<br>
 Stock: {{movil.stock}}<br>
 Imagen: {{movil.imagen}}<br>
 Oferta: {{movil.oferta}}<br>
 
 

</body>
</html>
{{> footer}}